/* *{
    border: 1px solid red;
} */

body{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 50px;
}

#rokaj{
    display: flexbox;
    background-color: gray;
    margin: 10px;
    padding: 15px;
    width: 300px;
    height: 240px;
    border: 2px solid black;
    border-radius: 15px;
}

#plus{
    position: absolute;
}

.user_input{
    display: none;
    visibility: hidden;
    
    position: absolute;
    left: calc(calc(100% - var(--width))/2);
    top:  calc(calc(100% - var(--height))/3);
    
    border: 2px solid black;
    border-radius: 5px;
    --width: 300px;
    --height: 350px;

    width: var(--width);
    height: var(--height);
    padding: 5px;
}

.formfield{
    display: flex;
    margin: 3px;
    margin-top: 20px;
    width: 280px;
    justify-content: space-between;
}

#dodaj{
    position: absolute;
    width: 280px;
    height: 30px;
    margin-left: 3px;
    bottom: 10px;
}

#brisime{
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 300px;
    height: 50px;
    border: 0px;
    border-radius: 15px;

}

.togel{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

#rokaj > div{
    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(34px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }